h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}
.form-control {
  display: inline-block;
}
#new_task input[type="submit"] {
  margin: 10px 0px 10px 0px;
}
.btn-group {
  position: absolute;
  top: 6px;
  right: 6px;
}
.completed label {
  text-decoration: line-through;
}
.task {
  display: block;
  max-width: 100%;
  word-wrap: break-word;
}
